<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="shape1" class="com.vasu.spring.Triangle">
		
	</bean>
	<bean id="myapp1" class="com.vasu.spring.MyApp" init-method="init()">
		<property name="sh" ref="shape1"></property>
	</bean>

</beans>